<div class="row form-group">
  <div class="col-md-12">
    <%= link_to 'Create new party', new_party_path, method: :get, class: 'btn btn-primary pull-right' %>
    <%= render 'shared/nav_form' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Parties</div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start at</th>
        <th>End at</th>
        <th>Venue</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'party', collection: @parties %>
    </tbody>
  </table>
</div>